<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.userprofile.androidapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application

        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidapp">
        <activity android:name=".MainActivity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBarRegistration" />
        <activity
            android:name=".MainActivity.FollowerActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBarRegistration" />
        <activity
            android:name=".MainActivity.FollowerUserActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBarRegistration" />
    </application>

</manifest>